.idea/

/bitrix/*

!/bitrix/templates/
!/bitrix/components

/upload
/images
y-market/saved_file.xml

*.sass-cache
log_*
*.log
*.txt
*.pdf
*.log
*.sqx
*.gz
*.zip
*.rar
*.pptx
*\.docx
*\.doc
*\.dat
*\.flv
*\.ogv
*\.mp4
*\.wmv
*\.exe
*\.xls
*\.[0-9]+
*\.ppt
*.sql